/*
  모든 페이지에서 사용될 공통적인 내용들을 정의하기 위한 파일
*/

/*
  공통 영역
*/
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  background-color: #f7f7f7;
}
.content-container {
  /* background-color: #f5faad; */
  width: 1200px;
  margin: auto; /* 이걸 줌으로써 좌,우 여백이 맞춰짐*/
}

/*
  상단 영역
*/
.header {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: #0039f5;
  padding: 20px 0 20px 0;
}
.header i {
  color: #fdba00;
}

/*
  네비 영역
*/
.navi {
  /* background-color: #cdf8ea; */
  background-color: #f7f7f7;
  border-bottom: 1.3px solid #c2c1c1;
  position: sticky;
  top: 0;
  display: flex; /* 이걸 넣어야 사이즈가 줄었을때 같이 줄어듬 안넣으면 기본상태에는 동일하나 줄었을때 
                    같이 안 줄어듬 */
  z-index: 100;
}
.navi .content-container {
  display: flex;
  height: 28px;
  justify-content: space-between;
  padding: 0 20px; /* 홈과 메뉴 양쪽 가에 여백을 주기 위해 사용 */
}
.navi .content-container a {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  width: 90px; /*강제 너비를 줘서 글이 삐져나갈수 있게 한다.*/
  display: flex;
  color: #0039f5;
  background-color: #f7f7f7;
}
.navi ul {
  display: flex;
}
.navi .content-container ul li a:nth-child(2) {
  text-indent: -10000000px;
  margin-top: -1000px;
}
.navi .content-container ul li:hover a:nth-child(2) { /*a:nth-child(1):hover 했더니 안먹힘*/
  margin-top: 0px;
  text-indent: 0px;
  white-space: nowrap; /*줄 바꿈 없게 한다.*/
}

/*
  메인 영역
*/
.main {
  background-color: #f7f7f7;
  text-align: center;
  min-height: 400px;
}

/*
  하단 영역
*/
.footer {
  /* background-color: #e9cdfa; */
  background-color: #f7f7f7;
  border-top: 1.3px solid #c2c1c1;
  display: flex; /* 이걸 넣어야 사이즈가 줄었을때 같이 줄어듬 안넣으면 기본상태에는 동일하나 줄었을때 
                  같이 안 줄어듬 */
}
.footer .content-container {
  display: flex;
  line-height: 140%;
  justify-content: space-around; /* 하단 내용들의 가에 여백을 주고 분리하기 위해 사용 */
}
.footer .content-container h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.footer .content-container .info table {
  margin-top: 20px;
  /* background-color: #c2c1c1; */
}
.footer .content-container .info table tr th {
  font-size: 13px;
  font-weight: 700;
  text-align: left;
}
.footer .content-container .info table tr td {
  font-size: 11px;
  font-weight: 300;
  padding-left: 20px;
}
.footer .content-container .info address {
  margin-top: 20px;
}

.footer .content-container .cs h4 {
  margin-bottom: 20px;
}
.footer .content-container .cs p {
  font-size: 13px;
}
.footer .content-container .cs p span:nth-child(1){
  color: blue;
}
.footer .content-container .cs p span:nth-child(2){
  color: red;
}
.footer .content-container .cs p:nth-child(3) {
  margin-bottom: 20px;
}
.footer .content-container .cs a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  /* background-color: #c2c1c1; */
  color: black;
  margin-bottom: 5px;
  width: 80px;
}

.footer .content-container .guide h4 {
  margin-bottom: 20px;
}
.footer .content-container .guide a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  /* background-color: #c2c1c1; */
  color: black;
  margin: 5px;
}
.footer .content-container .guide a:nth-child(1),
.footer .content-container .guide a:nth-child(2) {
  width: 50px;
}
.footer .content-container .guide a:nth-child(3) {
  width: 58px;
}
.footer .content-container .guide a:nth-child(4) {
  width: 115px;
}
.footer .content-container .guide a:nth-child(2) {
  margin-bottom: 20px;
}
