.custEtop {
  font-weight: 900;
  margin: 20px 0 50px 0;
}
.custEtop h1 {
  display: contents;
  font-size: 30px;
}

.custEmain {
  width: 600px;
  margin: auto;
}
.custEmain .custEdit {
  width: 600px;
}

.custEmain .custEtable {
  width: 600px;
  line-height: 3;
}
.custEmain .custEtable tr {
  text-align: left;
  font-size: 15px;
  border-bottom: 1px dotted #d5d5d5;
}
.custEmain .custEtable tr:last-child {
  border-bottom: 1px solid #d5d5d5;
}
.custEmain .custEtable tr:first-child th {
  text-align: left;
  font-size: 12px;
  color: #b9b9b9;
  border: none;
}
.custEmain .custEtable tr:nth-child(2) input,
.custEmain .custEtable tr:nth-child(3) input,
.custEmain .custEtable tr:nth-child(4) input {
  width: 100px;
}
.custEmain .custEtable tr th {
  border-left: 1px solid #d5d5d5;
}
.custEmain .custEtable tr td {
  padding-left: 10px;
  border-right: 1px solid #d5d5d5;
}
.custEmain .custEtable tr:nth-child(9) button {
  margin-left: 10px;
  border: 1px solid #d5d5d5;
}
.custEmain .custEtable tr input {
  background-color: white;
  border: 1px solid #d5d5d5;
}
.custEmain .custEtable tr select,
.custEmain .custEtable tr option {
  background-color: white;
  width: 60px;
}
.custEmain .custEtable tr:nth-child(2) {
  border-top: 2px solid #d5d5d5;
}
.custEmain .custEtable tr th {
  width: 80px;
  text-align: center;
}
.custEmain .custEtable tr td {
  width: 250px;
  background-color: white;
}

.custEbottom {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 30px auto 80px auto;
}
.custEbottom a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: white;
  width: 140px;
  height: 35px;
  padding-top: 10px;
  background-color: black;
}
.custEbottom button {
  width: 140px;
  cursor: pointer;
  border: 1px solid black;
  color: white;
  background-color: black;
}