.main .content-container .homemain {
  display: flex;
  justify-content: space-between;
}
.ad-container {
  width: 950px;
  height: 200px;
  margin: 40px auto 100px auto;
}
.ad,
.ad .ad-item {
  width: 1000px;
  height: 200px;
}
.ad .ad-item img {
  width: 1000px;
  height: 200px;
  object-fit: cover;
}

/* 메인화면 왼쪽 관리 요령 */
.tip-container {
  width: 500px;
  position: relative;
  margin: 0 auto 100px auto;
}

.tip,
.tip .tip-item {
  width: 100%;
  height: 100%;
}

.tip .tip-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* slick 화살표 css */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 21px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  display: block;
  line-height: 1;
  font-family: 'slick';
  font-size: 30px;
  opacity: .50;
  color: white;
  background-color: gray;
  -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: 0px;
  position: relative;
  z-index: 9999;
}

.slick-prev:before {
  content: '<';
}

.slick-next {
  right: 0px;
}

.slick-next:before {
  content: '>';
}

/* slick dots css */
.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '■';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* 메인화면 중앙 로그인/회원가입 */
.login {
  width: 400px;
  display: inline-flex;
}

.login .golog {
  text-decoration: none;
  color: black;
  display: block;
  width: 150px;
  height: 30px;
  padding-top: 5px;
  margin: auto;
}

.login .golog {
  background-color: #002396;
  color: white;
  margin-bottom: 40px;
  transition: all 0.5s;
}

.login .golog:hover {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid black;
}


.booking {
  margin-right: 50px;
}
.booking h1 {
  margin-bottom: 50px;
  font-size: 20px;
}
.booking table {
  margin: auto;
  width: 400px;
  line-height: 3;
}
.booking .noreserv {
  color: red;
}