.myinfotop {
  margin: 20px auto 80px auto;
  font-size: 25px;
  width: 100px;
  border-bottom: 1px solid black;
}
.myinfotop h1 {
  padding-bottom: 10px;
}

.myinfo table {
  margin-bottom: 80px;
  line-height: 2.5;
}
.myinfo table span {
  color: red;
}

.myinfo th,
.myinfo td{
  border: 1px solid #c5c5c5;
}
.myinfo tr:nth-child(14) td {
  border: none;
  text-align: right;
}
.myinfo tr:nth-child(14) td a {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 2px;
  transition: all 0.5s;
}
.myinfo tr:nth-child(14) td a:hover {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid black;
}
.myinfo > table tr:nth-child(1) th {
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}
.myinfo > table tr:nth-child(1) th:last-child {
  text-align: right;
  font-weight: 300;
}
.myinfo > table tr:nth-child(2) {
  border-top: 2px solid #c5c5c5;
}
.myinfo th {
  width: 130px;
  text-align: left;
}
.myinfo td {
  width: 1070px;
  height: 30px;
  text-align: left;
  font-size: 12px;
}
.myinfo th label {
  margin-left: 20px;
  font-size: 13px;
  font-weight: 100;
}
.myinfo td select {
  margin: 5px 0 5px 20px;
}
.myinfo tr:nth-child(6) input {
  margin: 5px 0 5px 0px;
  width: 80px;
}
.myinfo tr:nth-child(7) input:nth-child(2) {
  margin: 5px 0 5px 0px;
}
.myinfo .switchreserv {
  text-indent: 5px;
  text-decoration: none;
  background-color: #a3a3a3;
  color: white;
  border: 1px solid #a3a3a3;
  transition: all 0.5s;
  margin-left: 5px;
  padding: 3px 0 1.5px 0;
}
.myinfo .switchreserv:hover {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid #a3a3a3;
}
.myinfo td input {
  margin: 5px 0 5px 20px;
  border: 1px solid #a3a3a3;
}
.myinfo td button {
  border: 1px solid #a3a3a3;
  margin-left: 5px;
  cursor: pointer;
}

.editbtn {
  margin-bottom: 150px;
  display: inline-flex;
  
}
.myinfo .editbtn button {
  width: 150px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin-right: 10px;
  transition: all 0.5s;
}
.myinfo .editbtn button:hover {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid black;
}
.myinfo .editbtn a {
  display: block;
  width: 150px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding-top: 7px;
  transition: all 0.5s;
  text-decoration: none;
}
.myinfo .editbtn a:hover {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid black;
}