.noticeEtop {
  display: inline;
  width: 150px;
  border-bottom: 1px solid black;
}
.noticeEtop h1 {
  display: contents;
  font-size: 30px;
}
.noticeEtop p {
  font-size: 15px;
  color: #8b8b8b;
  margin: 20px 0 50px 0;
}

.noticeEmain .noticetable {
  width: 1200px;
}
.noticeEmain .noticetable tr {
  text-align: left;
  text-indent: 10px;
  line-height: 3;
  font-size: 13px;
}
.noticeEmain .noticetable tr:first-child {
    text-align: right;
    border: none;
}
.noticeEmain .noticetable tr:first-child a {
  text-decoration: none;
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 5px;
  transition: all 0.5s;
}
.noticeEmain .noticetable tr:first-child a:hover {
  border: 1px solid #f7f7f7;
  color: black;
  background-color: #f7f7f7;
}
.noticeEmain .noticetable tr:nth-child(2) input {
width: 300px;
background-color: white;
border: 1px solid #d5d5d5;
}
.noticeEmain .noticetable tr:nth-child(2) th,
.noticeEmain .noticetable tr:nth-child(2) td {
  border-top: 2px solid #d5d5d5;
}
.noticeEmain .noticetable tr:nth-child(2) th {
  border-left: 1px solid #d5d5d5;
  width: 120px;
  text-align: center;
}
.noticeEmain .noticetable tr:nth-child(2) td {
  border-right: 1px solid #d5d5d5;
}
.ck.ck-editor__editable_inline {
  min-height: 600px;
  background-color: white;
}
.ck.ck-editor__editable_inline p {
  background-color: white;
}
.noticeEbottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 80px;
}
.noticeEbottom a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: black;
  width: 140px;
  height: 35px;
  padding-top: 10px;
  background-color: #d5d5d5;
  transition: all 0.5s;
}
.noticeEbottom a:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.noticeEbottom button {
  width: 140px;
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.noticeEbottom button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}