.recordRtop {
  font-weight: 900;
  margin: 20px 0 50px 0;
}
.recordRtop h1 {
  display: contents;
  font-size: 30px;
}

.recordRtable {
  border: 1px solid #8b8b8b;
  width: 1200px;
}
.recordRtable tr {
  text-align: left;
  text-indent: 10px;
  line-height: 3;
  font-size: 13px;
  border-bottom: 1px dotted #d5d5d5;
}
.recordRtable tr th {
  width: 120px;
  text-align: center;
}
.recordRtable tr td,
.recordRtable tr td p {
  width: 250px;
  background-color: white;
}
.recordRtable tr:nth-child(6) td {
  height: 600px;
}
.recordRtable tr:nth-child(6) td p {
  width: 1180px;
  margin: 5px auto 5px auto;
}

.recordRbottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 80px;
}
.recordRbottom a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: black;
  width: 140px;
  height: 35px;
  padding-top: 10px;
  background-color: #d5d5d5;
}
.recordRbottom button {
  width: 140px;
}