.techEtop {
  font-weight: 900;
  margin: 20px 0 50px 0;
}
.techEtop h1 {
  display: contents;
  font-size: 30px;
}

.techEmain {
  width: 600px;
  margin: auto;
}
.techEmain .techEdit {
  width: 600px;
}

.techEmain .techEtable {
  width: 600px;
  line-height: 3;
}
.techEmain .techEtable tr {
  text-align: left;
  font-size: 15px;
  border-bottom: 1px dotted #d5d5d5;
}
.techEmain .techEtable tr:last-child {
  border-bottom: 1px solid #d5d5d5;
}
.techEmain .techEtable tr:first-child th {
  text-align: left;
  font-size: 12px;
  color: #b9b9b9;
  border: none;
}
.techEmain .techEtable tr:nth-child(2) input,
.techEmain .techEtable tr:nth-child(3) input,
.techEmain .techEtable tr:nth-child(4) input,
.techEmain .techEtable tr:nth-child(5) input,
.techEmain .techEtable tr:nth-child(7) input {
  width: 100px;
}
.techEmain .techEtable tr th {
  border-left: 1px solid #d5d5d5;
}
.techEmain .techEtable tr td {
  padding-left: 10px;
  border-right: 1px solid #d5d5d5;
}
.techEmain .techEtable tr:nth-child(10) button {
  margin-left: 10px;
  border: 1px solid #d5d5d5;
}
.techEmain .techEtable tr input {
  background-color: white;
  border: 1px solid #d5d5d5;
}
.techEmain .techEtable tr select,
.techEmain .techEtable tr option {
  background-color: white;
  width: 60px;
}
.techEmain .techEtable tr:nth-child(2) {
  border-top: 2px solid #d5d5d5;
}
.techEmain .techEtable tr th {
  width: 80px;
  text-align: center;
}
.techEmain .techEtable tr td {
  width: 250px;
  background-color: white;
}

.techEbottom {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 30px auto 80px auto;
}
.techEbottom a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: white;
  width: 140px;
  height: 35px;
  padding-top: 10px;
  background-color: black;
}
.techEbottom button {
  width: 140px;
  cursor: pointer;
  border: 1px solid black;
  color: white;
  background-color: black;
}